body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.champion-grid, .item-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    padding: 20px;
}

.champion-grid a, .item-grid a {
    text-align: center;
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}
