{% extends 'base.html' %}

{% block title %}Champions{% endblock %}

{% block content %}
    <h1>{{ translations['champions'] }}</h1>
    <div class="champion-grid">
        {% for champion_id, champion in champions.items() %}
            <a href="/champion/{{ champion_id }}">
                <img src="{{ url_for('serve_image', image_name=champion_id ~ '.png') }}" alt="{{ champion.name }}">
                <p>{{ champion['name'] }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
