{% extends 'base.html' %}

{% block title %}{{ champion['name'] }}{% endblock %}

{% block content %}
    <h1>{{ champion['name'] }}</h1>
    <img src="/images/{{ fetch_image(champion['image']['full'], champion['id'] + '.png') }}" alt="{{ champion['name'] }}">
    
    <h2>{{ translations['skills'] }}</h2>
    <ul>
        {% for spell in champion['spells'] %}
        <li><pre>{{ spell['name'] }}: {{ spell['description'] }}</pre></li>
        {% endfor %}
    </ul>

    <h2>{{ translations['skins'] }}</h2>
    <ul>
        {% for skin in champion['skins'] %}
        <li>{{ skin['name'] }}</li>
        {% endfor %}
    </ul>

    <a href="/champions">{{ translations['back_to_champions'] }}</a>
{% endblock %}
